<h3>{{this.name}}</h3>
<hr>
<p>Fuel Type: {{fuelType}}</p>
<hr>
<form action="/cars/kms/{{id}}" method="POST">
  <label for="kms">Kilometers</label>
  <input type="number" name="kms" id="kms" value="{{kms}}" />
  <button type="submit">Update</button>
</form>
<hr>

<div>
  <form action="/cars/oil/{{id}}" method="POST">
    <label for="oil">Oil changed at:</label>
    <input type="number" name="oil" id="oil" value="{{oil}}" />
    <button type="submit">Update</button>
  </form>
  {{#if this.oilChange }}
  <p style="color:red">Oil needed to be changed {{oilDif}} kms ago.</p>
  {{else}}
  <p style="color:green">Oil is ok</p>
  {{/if}}
</div>

<hr>
<form action="/cars/tyrePressure/{{id}}" method="POST">
  <label for="tyrePressure">Tyres</label>
  {{#if_eq tyreStatus "check"}}
  <p style="color: orange">Please check your tyre pressure, {{tyreDif}} kms passed!!</p>
  {{else}}
  <p style="color: green">All ok</p>
  {{/if_eq}}
  <button type="submit">Reset</button>
</form>



<hr>
<form action="/cars/insurance/{{id}}" method="POST">
  <label for="tyrePressure">Insurance info:</label>
  <p>{{insuranceType}} </p>
  <p id="date-display">{{insuranceDate}}</p>
  <button type="submit">Payed</button>
</form>
<hr>

<form action="/cars/delete/{{id}}" method="POST">
  <button>Delete Car</button>
</form>