
<h3>{{this.name}}</h3>
<form action="/cars/{{id}}" method="POST">
<label for="kms">Kilometers</label>
<input type="number" name="kms" id="kms" value="{{kms}}"/>
<button>Update</button>
</form>
<p>{{oil}}</p>
<p>{{fuelType}}</p>
<p>{{insuranceType}} {{insuranceDate}} </p>



