<h3 id="carname">{{this.name}}</h3>
<div class="singlecar-top">
  <br>
  <p class="singlecar-fueltype"><strong> Fuel Type: </strong>{{fuelType}}</p>
  <br>
  <div class='siglecar-top-element'>
    <form action="/cars/kms/{{id}}" method="POST">
      <label for="kms"><strong>Kilometers</strong></label>
      <input type="number" name="kms" id="kms" value="{{kms}}" />
      <button class="btn btn-light" type="submit">Update</button>
    </form>
  </div>
  <a href="/cars/servicemap/{{id}}" class="btn btn-primary btn-light siglecar-top-element">
    <img height="24" width="24"
      src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575023167/carBudy-pics/maps_aq8rif.png" alt="">
    <strong>Service Maps</strong></a>

  <br>

  <script>
    function ConfirmDelete() {
      confirm("Are you sure you want to delete?");
    }
  </script>

  <form class='siglecar-top-element' action="/cars/delete/{{id}}" method="POST">
    <input type="submit" class="btn btn-danger" value="delete" Onclick="ConfirmDelete()" />
  </form>
</div>
<hr>

<div class='stats'>
<div id="position-div">
  <div class="checklist">
    <div class="image-div">

      <form action="/cars/oil/{{id}}" method="POST">
        <div class='warnings' id="oil-pos">
          <ul class='wrngsoil'>
            <li>
              <label for="oil"><strong>Oil changed at:</strong></label>
              <input type="number" name="oil" id="oil" value="{{oil}}" style="margin-bottom:1em" />
              <br>
              {{#if this.oilChange }}
              <p style="color:red">Oil needed to be changed {{oilDif}} kms ago.</p>
              {{else}}
              <p style="color:green">Oil is OK!</p>
              {{/if}}
              <button class="btn btn-light" type="submit">Update</button>
            </li>
          </ul>
      </form>

    </div>


    <div class='warnings' id='tyre-pos'>
      <form action="/cars/tyrePressure/{{id}}" method="POST">
        <ul class='wrngsForm'>
          <li>
            <label for="tyrePressure"><strong>Tyres</strong></label>

            {{#if_eq tyreStatus ""}}
            <p style="color: green">All OK!</p>
            {{/if_eq}}
            {{#if_eq tyreStatus "ok"}}
            <p style="color: green">All OK!</p>
            {{/if_eq}}

            {{#if_eq tyreStatus "check"}}
            <p style="color: orange">Please check your tyre pressure, {{tyreDif}} kms passed!!</p>
            {{/if_eq}}
            {{#if_eq tyreStatus "change"}}
            <p style="color: red">Please change your tyres, {{tyreLifeDif}} kms passed!!</p>
            {{/if_eq}}
            <button class="btn btn-light" type="submit">Reset</button>
          </li>
        </ul>
      </form>
    </div>


    <div class='warnings' id="coolant-pos">
      <form action="/cars/coolant/{{id}}" method="POST">
        <ul class='wrngsForm'>
          <li>
            <label for="coolant"><strong>Coolant</strong></label>
            {{#if coolantChange}}
            <p style="color: red">Please change the coolant, {{coolantDif}} kms passed!!</p>
            {{else}}
            <p style="color: green">All OK!</p>
            {{/if}}
            <button class="btn btn-light" type="submit">Reset</button>
          </li>
        </ul>
      </form>
    </div>


    <div class='warnings' id="brake-pos">
      <form action="/cars/brake/{{id}}" method="POST">
        <ul class='wrngsForm'>
          <li>
            <label for="brake"><strong>Brakes</strong></label>
          </li>
          <li>
            {{#if brakeChange}}
            <p style="color: red">Please change your Brakes {{brakeDif}} kms passed!!</p>
            {{else}}
            <p style="color: green">All OK!</p>
            {{/if}}
          </li>
          <li>
            <button class="btn btn-light" type="submit">Reset</button>
          </li>
        </ul>
      </form>
    </div>


    <div class='warnings' id="airfilter-pos">
      <form class='wrngsForm' action="/cars/airFilter/{{id}}" method="POST">
        <ul class='wrngsForm'>
          <li>
            <label for="airFilter"><strong>Air Filter</strong> </label>
            {{#if airFilterChange}}
            <p style="color: red">Please change your Air-filter, {{airFilterDif}} kms passed!!</p>
            {{else}}
            <p style="color: green">All OK!</p>
            {{/if}}
            <button class="btn btn-light" type="submit">Reset</button>
          </li>
        </ul>
      </form>
    </div>




    {{!-- <form class='wrngsForm' action="/cars/insurance/{{id}}" method="POST">
  <label for="tyrePressure">Insurance info:</label> </strong>
  <p>{{insuranceType}} </p>
  <p id="date-display">{{insuranceDate}}</p>
  <button class="btn btn-light" type="submit">Payed</button>
</form>
 --}}
  </div>
</div>

{{!-- <form action="/cars/servicemap/{{id}}" method="GET">
  <input type="submit" value="Service Maps" />
</form> --}}
</div>