<div class="container">

<h1>Edit a Car</h1>
<h2>{{car.name}}</h2>
<form action="/cars/edit/{{car._id}}" method="POST" enctype="multipart/form-data">
 

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Fuel Type</span>
  </div>
<select name="fuelType" class="form-control" id="exampleFormControlSelect1" value="{{car.fuelType}}">
      <option value="petrol">Petrol</option>
      <option value="diesel">Diesel</option>
    </select>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Kilometers</span>
  </div>
  <input type="number" name="kms" id="kms" value="{{car.kms}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Car Name</span>
  </div>
  <input type="text" name="name" id="name" value="{{car.name}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Oil Changed at:</span>
  </div>
  <input type="number" name="oil" id="oil" value="{{car.oil}}" placeholder="kms" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
</div>

    
  <label for="avatar">Change the picture of your car</label>
  <input  class='btn btn-light' type="file" name="avatar"/>
  


 <div class="form-group">
    
  </div>
  <button class='btn btn-light'>Edit car</button>
</form>


{{!--   <div class="form-group">
    <label for="exampleFormControlSelect1">Edit Insurance Type</label>
    <select class="form-control" id="exampleFormControlSelect1" name="insuranceType" value="{{car.insuranceType}}">
      <option>yearly</option>
      <option>semiannualy</option>
      <option>quarterly</option>
      <option>monthly</option>
    </select>
  </div>

  <label for="insurancedate">Edit Insurance Date</label>
  <input type="date" name="insuranceDate" id="insurance-date" value="{{car.insuranceDate}}"/> --}}
</div>